<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>meses</th>
            <th>cantidad</th>
            <th>barrio</th>
        </tr>
        {%for item in ventas%}
        <tr>
            <td>{{item.mes}}</td>
            <td>{{item.cantidad}}</td>
            <td>{{item.barrio}}</td>
        </tr>
        {%endfor%}
    </table>
    <div>
        {{grafica |safe}}
    </div>
</body>
</html>